* {
	font-family: sans-serif;
}

html {
	height: 100%;
}

body {
	height: 92%;
}

#nav { 
	float: left;
	width: 150px;
	margin-top: 10%;
	padding: 40px 20px 40px 0px;
	border-right: solid 1px #ff6600;
}

#nav ul {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

#nav li { 
  background-image: url('../includes/link.gif'); 
  background-position: left; 
  background-repeat: no-repeat; 
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 14px;
}

#scroll_contenu li {  
	display: inline;
	list-style: none;
}

#scroll_support {
	padding: 0; margin: 0;
	text-align: center;
	border: 1px solid #333;
	border-top-color: #707070;
	background-color: #5E5E5E;
	background: -moz-linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;
	height: 30px;
	-webkit-box-shadow: 0 0px 2px #999;
	-moz-box-shadow: 0 0px 2px #999;
	box-shadow: 0 0px 2px #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#scroll_contenu a {
	display:inline-block;
	height: 30px;
	padding: 0px 10px;
	line-height: 30px;
	border-left: 1px solid #555;
	border-right: 1px solid #888;
	text-decoration: none;
	color: white;
	text-shadow: -1px -1px 0 #444;
	font-size: 1em;
}
#scroll_contenu :first-child a {
}
#scroll_contenu :last-child a {
}
#scroll_contenu a:hover,
#scroll_contenu a:focus {
	background-color: #3E3E3E;
	background: -moz-linear-gradient(bottom , #444444 0pt, #3E3E3E 50%, #505050 51%, #606060 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(bottom , #444444 0pt, #3E3E3E 50%, #505050 51%, #606060 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(bottom , #444444 0pt, #3E3E3E 50%, #505050 51%, #606060 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(bottom , #444444 0pt, #3E3E3E 50%, #505050 51%, #606060 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(bottom , #444444 0pt, #3E3E3E 50%, #505050 51%, #606060 100%) repeat scroll 0 0 transparent;
	text-shadow: -1px -1px 0 #000;
}


div.blocseparator{
  border-color: #cccccc;
  border-width: 1px 0px 0px 0px;
  border-style: solid none none none;
  margin: 10px 20px 10px 20px;
  padding: 0px 0px 0px 0px;
  clear: both;
  display: block;
}

#corps { 
	min-height: 98%;
	margin-left: 170px;
	padding-left: 30px;
}

#lien {
	float:right;
	font-size: smaller;
	padding-left: 15px;
	background-image: url('../images/fleche_droite.gif'); 
	background-position: left;
	background-repeat: no-repeat;
}

.pied { 
	clear: both;
	font-size: smaller;
	
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
  	padding-bottom: 10px;
	text-align: center;
	border-top: solid 1px #ff6600;
    width: 40%;
    position: absolute;
 // right: 0;
  bottom: 0;
  left: 30%;
  padding: 1rem;
  text-align: center;
}

#alignement{
	width: 300px;
}

/* Liens */

a { text-decoration: none; 
}

a:link { color: black; }   /* lien non encore visite */

a:visited { color: black; } /* lien visite */

a:hover {  /* lien survoléar le curseur de la souris */
	color: #ff6600;
	text-decoration: underline; 
}


/* Hiérchisation : titres, sous-titres */
h1 { 
	color: #444444;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 15px;
} 

h2 {
	color: #ff6600;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
} 

/* Titre dans le menu de navigation */
h3 {
	color: #444444; 
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 0px;
}

/* Sous titre dans le menu de navigation */
h4 {
	font-size: 14px;
	font-weight: normal;
	background-image: url('../images/menu.gif'); 
	background-position: left, top; 
	background-repeat: no-repeat; 
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 17px;
}

h4 a:hover {  /* lien survoléar le curseur de la souris */
	color: #ff6600;
	text-decoration: underline; 
}

h5 { 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}

h6 { 
	font-variant: small-caps;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}

/* Formulaires*/

input[type=submit] {
	display: block;
	color: white;
	background-color: #ff6600;
}

/* Texte */
p { 
	margin-right: 0;
	padding-left: 10px;
	text-align: justify;
}

blockquote p { 
	color: #cd853f;
	font-size: 90%;
}

code {
	font-family: monospace; /* code informatique */
}

/* Images */

img { 
	border-width: 0; /* pas de bordure sur les images */
}

/* Tableaux */

table { 
	border: solid 1px black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table th {
	font-size: 90%;
	border: solid 1px black;
	margin: 0px 0px 0px 0px;
	padding: 4px 3px 4px 3px;
}

table td {
	font-size: 90%;
	border: solid 1px black;
	margin: 0px 0px 0px 0px;
	padding: 1px 2px 1px 2px;
	text-align : center;
	white-space: nowrap;
}

th {  
	font-weight: bold; 
	background: #ff6600;
	color: white;
}

th a:hover { 
	background: #5177C1;
	color: #ff6600;
	text-decoration: none;
}

th a.linkOn { 
	font-weight: bold;
}

th a.linkOn:hover{ 
}

.alignement_table {
	border-color: white;
	margin-left: 0;
}
.alignement_table td{
	border-color: white;
	text-align: left;
	vertical-align: middle;
}

textarea {
	vertical-align: middle;
}

.table_titre {
	border-color: white;
	margin-left: auto;
	margin-right: auto;
}

.table_titre  td{
	border-color: white;
}

/* Info bulle */
th a.info {
	position: relative;
	color: white;
	text-decoration: none;
}

a.info span {
	display: none; /* on masque l'infobulle */
}

a.info:hover {
	color: black;
	background: none; /* correction d'un bug IE */
	z-index: 500; /* on dénit une valeur pour l'ordre d'affichage */
	cursor: help; /* on change le curseur par déut en curseur d'aide */
}

a.info:hover span {
	display: inline; /* on affiche l'infobulle */
	position: absolute;
	bottom: 20px; /* on positionne notre infobulle */
	left: -100px;
	width: 150px; 
	text-align: left;
	background: white;
	color: #ff6600;
	padding: 2px 4px 2px 4px;
	border: 1px solid black;
}

caption {  
	/*margin-left: auto;
	margin-right: auto;*/
	padding-bottom: 0px;
}

#ne {
    list-style-type : none;
    padding-bottom : 31px; /* àodifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin-left : 0;
}

#ne li {
    float : left;
    height : 30px; /* àodifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: orange;
    margin : 0px 2px 0px 2px;  
    border : 1px solid #444444;
	border-color : orange;
}

#ne li.active {
    background-color: #ff6600;
}

#ne a {
    display : block;
    color : white;
    text-decoration : none;
    padding : 5px;
}

#ne a:hover {
    background : #ff6600;
}

#onglets {
    list-style-type : none;
    padding-bottom : 31px; /* àodifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #444444;
}

#onglets li {
    float : left;
    height : 30px; /* àodifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #dddddd;
    margin : 0px 2px 0px 2px;  
    border : 1px solid #444444;
}

#onglets li.active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

#onglets a {
    display : block;
    color : #444444;
    text-decoration : none;
    padding : 5px;
}

#onglets a:hover {
    background : #ff6600;
}

/* Lexiques */

dt {   
	font-weight: bold;
	padding-bottom: .5em; 
}

dd {   
	padding-bottom: 1.5em; 
}
